.firstscreen {
  width: auto;
  height: 100%;
  z-index: 1;
}

.swiper-container--firstscreen {
  .swiper-pagination {
    display: none;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

.card-firstscreen {
  width: 100%;
  height: auto;
  color: white;

  &--light {
    color: black;
  }


  &__img {
    overflow: hidden;
    display: flex;
    height: 880px;
    justify-content: end;
    align-items: end;

    img {
      min-width: 100%;
      width: auto;
      min-height: 100%;
      height: 100%;
      object-fit: cover;
      right: 0;
      bottom: 0;
    }
  }

  &__info {
    width: 50%;
    height: auto;
    top: 200px;
  }

  &__title {
    width: auto;
    height: 100%;
  }

  &__description {
    width: auto;
    height: 100%;
    margin-top: 16px;
  }

  &__button {
    margin-top: 35px;
  }

  &__container {
    position: absolute;
    height: auto;
    transform: translate(-50%, 320px);
    display: flex;
    z-index: 999;
    left: 50%;
    top: 0;
  }
}

@media (max-width: 1520px) {
  .card-firstscreen {
    &__title {
      font-size: 36px;
    }

    &__description {
      font-size: 16px;
      margin-top: 30px;
    }

    &__img {
      height: 655px;
    }

    &__info {
      width: 90%;
    }

    &__container {
      transform: translate(-50%, 250px);
    }
  }
  .swiper-container--firstscreen {

    .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      top: auto;
      bottom: 32px;
      right: 30px;
    }

    .swiper-pagination {
      bottom: 43px;
    }

    .swiper-pagination-bullet {
      margin-right: 100px;
      width: 10px;
      height: 10px;
      background-color: white;
      opacity: .8;
      border: none;

      &-active {
        width: 12px;
        height: 12px;
        opacity: 1;
      }
    }

    .swiper-button-prev, .swiper-button-next {
      opacity: 0.7;
    }

    .swiper-button-prev {
      left: auto;
      right: 70px;
    }
  }
}

@media (max-width: 1050px) {
  .card-firstscreen {

    &__container {
      transform: translate(-50%, 190px);
    }
  }
}

@include phone {
  .card-firstscreen {
    color: white;
    height: initial;

    &__title {
      font-size: 22px;
      background: none;
      line-height: 26px;
      height: auto;
    }

    &__description {
      margin-top: 15px;
      background: none;
      height: auto;
    }

    &__img {
      height: 413px;
    }

    &__info {
      width: 90%;
      background: none;
      margin-top: 21px;
    }

    &__button {
      margin-top: 25px;
      margin-bottom: 40px;

      &:hover {
        background-color: $gray;
        color: yellow;
      }
    }

    &__container {
      transform: none;
      position: initial;
      background-color: $blue;
      height: 100%;
    }
  }

  .swiper-container--firstscreen {
    .swiper-pagination {
      bottom: auto;
      justify-content: center;
      top: 380px;
    }

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }
}
