
.result {
  background-color: $light-blue;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    gap: 30px;
    margin-top: 50px;
    position: relative;
  }

  &__content {
    margin: 30px 0;
  }

  &__slogan {
    font-family: $font-family-montserrat;
    font-size: 13px;
    line-height: 16px;
    color: $gray-999;
    font-weight: 400;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 16px;
    margin-bottom: 20px;
    align-items: center;
  }

  &__all {
    font-family: $font-family-roboto;
    font-size: 17px;
    line-height: 20px;
    color: $gray-333;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
  }

  &__description {
    font-family: $font-family-montserrat;
    font-size: 16px;
    line-height: 24px;
    color: $gray-666;
    font-weight: 400;
    letter-spacing: 0;
  }

  //.swiper-pagination {
  //  left: 50%;
  //  transform: translateX(-50%);
  //}
}

.card-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  justify-content: start;
  align-items: start;
  position: relative;

  &__img {
    min-width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;

    img {
      min-width: 100%;
      object-fit: contain;
      height: auto;
      background-color: white;
      display: flex;
    }
  }

  &__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0, 63, 104, 0), rgba(0, 63, 104, 0.64), rgba(0, 63, 104, 1));
    opacity: .5;
  }

  &__info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 15px 24px 27px;
    z-index: $z-index-2;
    opacity: 0.9;
  }

  &__title {
    display: flex;
    color: white;
    margin-top: 5px;
  }
}

.swiper-container--result {
  width: 100vw;
  position: initial;
  padding-bottom: 40px;

  //.swiper-slide {
  //  background: none;
  //  border: none;
  //}

  //.card-result__img {
  //
  //  img {
  //    height: auto;
  //  }
  //}

  ///*стрелки*/
  //.swiper-button-prev,
  //.swiper-button-next {
  //  position: absolute;
  //}
  //
  //.swiper-button-next {
  //  right: 20px;
  //}
  //
  /////*пагинация*/
  //.swiper-pagination {
  //  bottom: 13px;
  //  position: absolute;
  //}
}


@media (min-width: 1499px) {
  .swiper-container--result {
    padding-bottom: 0;

    .swiper-pagination, .swiper-button-prev--result, .swiper-button-next--result {
      display: none;
    }

  }
}

@include phone {
  .result {
    &__all span:first-child {
      font-size: 10px;
      opacity: 0;
    }

    &__list {
      display: block;
      grid-template-columns: unset;
      margin-top: 20px;
    }

    .swiper-pagination {
      left: unset;
      transform: unset;
    }

    &__header {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 599px) {
  .swiper-container--result {
    .card-result__img img {
      height: auto;
      max-height: 500px;
    }
  }
}
