.slider {
  width: 100%;
  min-width: 0;
  height: 700px;
  background-color: cadetblue;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/*стрелки*/
.swiper-button-prev,
.swiper-button-next {
  height: 35px;
  width: 35px;
  border-radius: 3px;

  svg {
    height: 15px;
    width: 8px;
  }

  &::after {
    content: none;
  }
}

.swiper-button-prev {
  background-color: white;
  border: $blue-border-thin;

  &:hover {
    background-color: $blue;
    border: none;

    path {
      fill: white
    }
  }
}

.swiper-button-next {
  background-color: white;
  border: $blue-border-thin;

  path {
    fill: $blue
  }

&:hover {
  background-color: $blue;
  border: none;

  path {
    fill: white
  }
}

}

/*пагинация*/
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

/*буллеты*/
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: white;
  border: $blue-border-thin;
  opacity: 1;

  &-active {
    width: 10px;
    height: 10px;
    background-color: $blue;
  }
}
