.slider {
  width: 100%;
  min-width: 0;
  height: 700px;
  background-color: cadetblue;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-left: initial;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;
  border-right: 1px solid black;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

     .swiper-slide:nth-child(2n) {
        width: 60%;
    }
    .swiper-slide:nth-child(3n) {
        width: 40%;
    }


/*стрелки*/
.swiper-button-prev,
.swiper-button-next {
  height: 35px;
  width: 35px;
  border-radius: 3px;

  svg {
    height: 15px;
    width: 8px;
  }

  &::after {
    content: none;
  }
}

.swiper-button-prev {
  background-color: white;
  border: $blue-border-thin;
}

.swiper-button-next {
  background-color: $blue;
  border: none;
}

/*пагинация*/
.swiper-pagination {
  display: flex ;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

/*буллеты*/
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  //line-height: 30px;
  //font-size: 14px;
  background-color: white;
  border: $blue-border-thin;
  opacity: 1;
  &-active {
    width: 10px;
    height: 10px;
    background-color: $blue;
  }
}
