.staff__list {
  width: 100%;
  margin-top: 43px;
  position: relative;
}

.staff {
  background-color: $light-blue;

  &__content {
    margin: 50px 0;
  }

  &__slogan {
    font-family: $font-family-montserrat;
    font-size: 13px;
    line-height: 16px;
    color: $gray-999;
    font-weight: 400;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 16px;
  }

  &__all {
    font-family: $font-family-roboto;
    font-size: 17px;
    line-height: 20px;
    color: $gray-333;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
  }

  &__description {
    font-family: $font-family-montserrat;
    line-height: 24px;
    color: $gray-666;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 23px;
  }


  .card-staff {
    //display: flex;
    //flex-direction: column;
    //width: 100%;
    //overflow: hidden;
    //justify-content: start;
    //align-items: start;
    //position: relative;
    //margin-top: 50px;

    &__img {
      min-width: 100%;
      //display: flex;
      //justify-content: center;
      //overflow: auto;

      img {
        min-width: 100%;
        height: auto;
        object-fit: contain;
        //background-color: white;
        //display: flex;
      }
    }
  }

  .swiper-container-staff {
    width: 100vw;
    position: initial;

    .swiper-wrapper {
      margin-bottom: 60px;
    }

    .swiper-slide {
      background: none;
      border: none;
    }

    .card-staff__img {

      img {
        height: auto;
      }
    }

    /*стрелки*/
    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      //  top: auto;
      //  bottom: 0;
    }

    //.swiper-button-prev {
    //  left: auto;
    //  right: 8%;
    //}
    .swiper-button-next {
      //position: absolute;
      right: 20px;
    }

    ///*пагинация*/
    //.swiper-pagination {
    //  bottom: 13px;
    //}
  }
}

@media (max-width: 750px) {
  .swiper-container-staff {
    .card-staff__img {

      img {
        height: auto;
        //max-height: 390px;
      }
    }

    /*стрелки*/
    .swiper-button-prev,
    .swiper-button-next {
      top: auto;
      bottom: 0;
    }

    .swiper-button-prev {
      left: auto;
      right: 60px;
    }

    .swiper-button-next {
      right: 30px;
    }

    /*пагинация*/
    .swiper-pagination {
      position: absolute;
      left: -80px;
      bottom: 13px;
    }
  }
}

@media (max-width: 599px) {
  .swiper-container-staff {
    .card-staff__img img {
      height: auto;
      //max-height: 500px;
    }
  }
}
