.card-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  overflow: hidden;
  justify-content: start;
  align-items: start;
  position: relative;
  background-color: white;

  &:hover {
    .card-product__info {
      top: 0;
      padding: 60px 15px 10% 27px;
      height: 100%;
      background-color: $aqua;
      opacity: 0.8;
      box-shadow: none;
    }

    .card-product__title {
      color: white;
    }

    .card-product__count {
      color: $light-gray;
    }

    .card-product__description {
      color: $extra-gray;
    }
  }

  &__img {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    img {
      min-width: 80%;
      object-fit: contain;
      height: auto;
      background-color: white;
      display: flex;
      justify-content: center;
    }
  }

  &__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $white-gradient;
    opacity: .5;
  }

  &__info {
    position: absolute;
    width: 100%;
    padding: 0 15px 24px 27px;
    top: 65%;
    z-index: $z-index-2;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.8);
    transition: .5s;
  }

  &__title {
    display: flex;
    color: $blue;
    margin-top: 5px;
  }

  &__count {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
    margin-top: 6px;
  }

  &__description {
    display: flex;
    height: 90%;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    color: $extra-gray;
    margin-top: 17px;
    overflow: hidden auto;
    padding-bottom: 24px;
    margin-bottom: 10px;

    /* W3C standard сейчас только для Firefox */
    scrollbar-width: thin;
    scrollbar-color: $blue $extra-gray;

    /* для Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      height: 10px;
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $extra-gray;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 1px;
      border: 1px solid $extra-gray;
    }
  }
}

@include phone {

  .card-product {

    &__info {
      top: 75%;
      padding: 15px 15px 10% 27px;
    }
  }
}

@include small-phone {
  .card-product__description {
    height: 80%;
  }
}
