h1,h2, h3, h4, h5,h6 {
  letter-spacing: 0.05em;
}
h1,h6 {
  font-family: $font-family-montserrat;
}
h2, h3, h4, h5 {
  font-family: $font-family-roboto;
}
h1 {
  font-size: 112px;
  font-weight: bold;
  line-height: 136px;
  margin: 0;
}

h2 {
  font-size: 54px;
  font-weight: 900;
  line-height: 64px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 46px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
