.ui {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #CCC;
}


.sssssss {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.slider__list {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tetle {
  background-color: yellow;
}
