section.company
  .container
    span.company__slogan О компании
    .company__content-block
      .company__title-block.company__buttons
        h3.company__title АО «Предприятие В-1336»
        .company__buttons--desktop-visible
          button.button.button--blue-white.company__buttons--more-info Подробнее
          button.button.button--none-bc-blue.company__buttons--more-info 3D тур
      .company__text-block.company__buttons
        span.company__description Мы помогаем предприятиям нефтегазовой отрасли переходить на современные интеллектуальные методы мониторинга, управления и анализа объектов нефтедобычи, бурения, текущего и капитального ремонта нефтяных и газовых скважин. С этой целью на АО «Предприятие В-1336» разработана и реализуется концепция, призванная обеспечить переход от поставок отдельных компонентов и систем промбезопасности к предоставлению заказчику комплексных интеллектуальных цифровых решений по мониторингу нефтегазовых объектов.
        .company__buttons--mobile-visible
          button.button.button--blue-white.company__buttons--more-info Подробнее
          button.button.button--none-bc-blue.company__buttons--more-info 3D тур
        .company__equipment.equipment
          .equipment__item
            .equipment__img
              include ../../images/svg/company/1.svg
            .equipment__text Более 5000м2 производственных площадей
          .equipment__item
            .equipment__img
              include ../../images/svg/company/2.svg
            .equipment__text Аккредитованная метрологическая лаборатория
          .equipment__item
            .equipment__img
              include ../../images/svg/company/3.svg
            .equipment__text Региональная сеть сервисных центров
          .equipment__item
            .equipment__img
              include ../../images/svg/company/4.svg
            .equipment__text Система менеджмента качества ISO 9001:2015
  .company__background

