footer.footer
  .container
    .footer__menu.menu

      .menu__group
        a.menu__item-title(href="#") Компания
          ul.menu__list
            li.menu__item
              a.menu__item__link(href="#") О компании
            li.menu__item
              a.menu__item__link(href="#") История
            li.menu__item
              a.menu__item__link(href="#") Заказчики
            li.menu__item
              a.menu__item__link(href="#") Видеоматериалы
            li.menu__item
              a.menu__item__link(href="#") Сотрудники
            li.menu__item
              a.menu__item__link(href="#") Контакты
            li.menu__item
              a.menu__item__link(href="#") Вакансии

      .menu__group
        a.menu__item-title(href="#") Каталог
          ul.menu__list
            li.menu__item
              a.menu__item__link(href="#") Система видеонаблюдения
            li.menu__item
              a.menu__item__link(href="#") Беспроводная связь
            li.menu__item
              a.menu__item__link(href="#") Приборы ИВЭ-50
            li.menu__item
              a.menu__item__link(href="#") Промышленные компьютеры
            li.menu__item
              a.menu__item__link(href="#") Средства визуализации
            li.menu__item
              a.menu__item__link(href="#") Технологические датчики
            li.menu__item
              a.menu__item__link(href="#") Системы контроля

      .menu__group
        a.menu__item-title(href="#") Услуги
          ul.menu__list
            li.menu__item
              a.menu__item__link(href="#") Обслуживание и ремонт
            li.menu__item
              a.menu__item__link(href="#") Обучение
            li.menu__item
              a.menu__item__link(href="#") Поверка средств измерений
            li.menu__item
              a.menu__item__link(href="#") Облачный сервис

      .menu__group.menu__group--title
        a.menu__item-title(href="#") Сертификаты
        a.menu__item-title(href="#") Техподдержка
        a.menu__item-title(href="#") Программное обеспечение
        a.menu__item-title(href="#") Проекты
        a.menu__item-title(href="#") Новости

      .menu__group.menu__group--contacts
        .menu__group--contacts-upperblock
          a.menu__item-title.menu__contacts(href="tel:+88002223827")
            include ../../images/header/phone.svg
            | &nbsp; +8 (800)-222-38-27
            br
            span Заказать звонок

          a.menu__item-title.menu__contacts(href="mailto:info@v-1336.ru")
            include ../../images/header/mail.svg
            | &nbsp; info@v-1336.ru

          a.menu__item-title.menu__contacts.menu__contacts--adress(href="https://yandex.ru/maps/-/CCUVYYRqXA")
            include ../../images/footer/footer-map-icon.svg
            h5 Пермь, Комсомольский проспект, 34, офис 208

        a.menu__item-title(href="#")
          .menu__item__call-back
            | Заказать звонок

    .maker
      .maker__customer
        h6 © 2021 Аспро: Корпоративный сайт 3.0
      .maker__confidentiality
        h6 Политика конфеденциальности
      .maker__creator
        h6 Создание сайта
        include ../../images/footer/amado.svg
