header.header
  hr.header__hr-line
  .container
    .header__top-line
      .header__left-block
        a.header__left-block__menu(href='#')
          include ../../images/header/line.svg
        .header__left-block__label
          include ../../images/header/label.svg
      .header__mail-block
        .header__mail-block__img
          include ../../images/header/mail.svg
        a(href="mailto:info@v-1336.ru") info@v-1336.ru
      .header__phone-block
        .header__phone-block--desktop
          include ../../images/header/phone.svg
          a(href="tel:+73422581336") +7 (342) 258-13-36
        .header__phone-block--mobile
          a(href="tel:+73422581336")
            include ../../images/header/phone.svg
      a.header__callback-block(href='#')
        h6 Заказать звонок
      .header__search
        include ../../images/header/search.svg
    .header__bottom-line
      .header__menu
        .header__menu__list
          a(href="#") Компания
          a(href="#") Продукция
          a(href="#") Сертификаты
          a(href="#") Услуги
          a(href="#") Техподдержка
          a(href="#") Програмное обеспечение
          a(href="#") Проекты
          a(href="#") Новости
        button.header__menu__button Опросный лист
  hr.header__hr-line.header__hr-line--bottom
