header.header
  |это шапка
  .container
    .header__top-line
      .header__mail-block
        include ../../images/ui/slider-buttons/left.svg


      .header__phone-block
        include ../../images/ui/slider-buttons/left.svg
      .header__callback-block
    .header__bottom-line


