include ../mixins/card-product.pug

section.products.products--mobile
  .container
    .products__list
      .services__list
        .swiper-container.swiper-container--products
          .swiper-wrapper
            - let n = 0;
              while n < 7
                - let img = n % 2 ? './images/products/video-systems.png' : './images/products/v-systems.png'
                  +card-product(img, 'Системы видеонаблюдения', 12)
                    block card-product
                      p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
                      p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
                      p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
                      p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
                    - n++
          .swiper-control
            .swiper-pagination#pagination-product
            .swiper-button-prev.swiper-button-prev--products
              include ../../images/svg/sliders/left.svg
            .swiper-button-next.swiper-button-next--products
              include ../../images/svg/sliders/right.svg


section.products.products--desktop
  .container
    .products__list
      - n = 0;
        while n < 7
          - img = n % 2 ? './images/products/video-systems.png' : './images/products/v-systems.png'
          +card-product(img, 'Системы видеонаблюдения', 12)
            block card-product
              p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
              p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
              p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
              p Система видеонаблюдения ИВЭ-Видео предназначена для организации видеонаблюдения на буровой установке и объекте ТКРС. Спроектрирована с учетом особых требований по бесперебойной работе.
            - n++
