section.request
  .container
    span.request__slogan Контакты
    .request__content-block
      .request__title-block
        h3.request__title Оставьте заявку
        h5.request__description Перезвоним в течение 10 минут. Обсудим задачи, найдем оптимальное решение и запланируем работы. Ответим на вопросы и расскажем подробнее о действующих акциях. Будем на связи!
      .request__valid-block
        .request__input-block
          span.input-title Ваше имя
          input.input
        .request__input-block
          span.input-title Телефон
          input.input
        label.checkform-label
          input.checkbox-input(type='checkbox' value='value1' checked="checked")
          span.checkbox-checkmark
            include ../../images/ui/checkbox/checkmark.svg
          span.checkbox-span Я согласен на обработку персональных данных
        button.button.button--blue-white.request__button Отправить




