include ../mixins/card-staff.pug

section.staff
  .container
    .staff__content
      span.staff__slogan Люди, которые всегда помогут
      .staff__header
        h3.staff__title Сотрудники
        a(href='#')
          h6.staff__all
            span Все сотрудники
            span &nbsp;&nbsp;&nbsp;>
      span.staff__description Сотрудники — ключевое звено нашей компании. У нас работают специалисты узкого и широкого профиля, что позволяет обеспечить комплексный подход к решению ваших задач. Они знают, в каком направлении двигаться для достижения нужного результата. Свяжитесь с сотрудниками по контактам из карточек специалистов. Начните действовать уже сегодня!
      .staff__list
        .swiper-container.swiper-container--staff
          .swiper-wrapper
            - let dataStaff = [{img: './images/staff/2.png'},{img: './images/staff/3.png'},{img: './images/staff/1.png'},{img: './images/staff/4.png'},{img: './images/staff/5.png'},{img: './images/staff/6.png'},    {img: './images/staff/2.png'},{img: './images/staff/3.png'},{img: './images/staff/1.png'},{img: './images/staff/4.png'},{img: './images/staff/5.png'},{img: './images/staff/6.png'}]
            each el in dataStaff
              .swiper-slide
                +card-staff(el.img)
          .swiper-control
            .swiper-pagination
            .swiper-button-prev.swiper-button-prev--staff
              include ../../images/svg/sliders/left.svg
            .swiper-button-next.swiper-button-next--staff
              include ../../images/svg/sliders/right.svg
