mixin card-advantages(img, title, description)
  .card-advantages
    .card-advantages__img
      //include(img)
      img(src=img)
    .card-advantages__info
      h3.card-advantages__title=title
      h5.card-advantages__description=description
