mixin card-support(img, title, description)
  .card-support
    .card-support__img
      img(src=img)
    .card-support__gradient
    .card-support__info
      .card-support__label
        img(src='./images/support/support-label.svg')
      .card-support__title=title
      .card-support__description=description
