mixin card-event(img, date)
  .card-event
    .card-event__img
      img(src=img)
    .card-event__gradient
    .card-event__info
      .card-event__date=date
      .card-event__description
        block
