mixin card-firstscreen(img, title, description)
  .card-firstscreen.swiper-slide
    .card-firstscreen__img
      img(src=img)
    .container.firstscreen__container
      .card-firstscreen__info
        h2.card-firstscreen__title=title
        h6.card-firstscreen__description=description
