


doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Document

body.body
  include ../components/header.pug
  include ../components/firstscreen.pug
  include ../components/sliders.pug
  include ../components/advantages.pug
  include ../components/products.pug
  include ../components/service.pug
  include ../components/support.pug
  include ../components/results.pug
  include ../components/company.pug
  include ../components/staff.pug
  include ../components/events.pug
  include ../components/request.pug
  include ../components/footer.pug
