//colors
$blue: #004877;
$gray: #828282;
$light-gray: #E0E0E0;
$extra-gray: #F2F2F2;
$gray-333: #333333;
$gray-555: #555555;
$gray-666: #666666;
$gray-999: #999999;

//font-family
$font-family-montserrat: 'Montserrat', 'sans-serif';
$font-family-roboto: 'Roboto', 'sans-serif';

//borders
$blue-border-bold: 4px solid #004877;
$white-border: 2px solid #FFFFFF;
$blue-border: 2px solid #004877;
$blue-border-thin: 1px solid #004877;
$white-border-thin: 1px solid #FFFFFF;
$gray-border-thin: 1px solid #828282;

//background
$aqua: #008CBD;
$aqua-header: #002341;
$gradient-card: #003F68;
$brown: #3D3D3D;
$brown-gray: #333333;
$light-blue: #E2F0FF;

//gradient
$white-gradient: linear-gradient(rgba(255, 255, 255, 0), 75%, rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 1));
