@import './_libs';
@import './_vars';
@import './_mixins.scss';
@import './_fonts';

// common styles

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Roboto, serif;
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //background-color: gray;
}

ul {
  list-style-type: none;
}

// end common styles

@import './_imports';

@media (max-width: 1630px) {
  .container {
    min-width: 100%;
    width: auto;
    padding: 0 20px;
    //z-index: 999;
    //background-color: red;
  }
}
